<div>
  <div>
  <span>Summary For <%= @from %>  <%= summary.id %></span>

  <span>Total Questions Count</span>
  <span class="display_summary">(<%= summary.total_questions %>)</span>

  <span>Correct Answers Percent</span>
  <span class="display_summary">(<%= summary.correct_percent %>)</span>

  <span>Incorrect Answers Percent</span>
  <span class="display_summary">(<%= summary.incorrect_percent %>)</span>

  <span>Skipped Answer Percent</span>
  <span class="display_summary">(<%= summary.skipped_percent %>)</span>

  <span>Unanswered Percent</span>
  <span class="display_summary">(<%= summary.unanswered_percent %>)</span>

  </div>
</div>